<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">The city of the sky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">大殿</a></li>
                <li><a href="#about">议政厅</a></li>
                <li><a href="#contact">展厅</a></li>
                <li><a href="#contact">教堂</a></li>
                <li><a href="#contact">竞技场</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">后花园<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">住所</a></li>
                        <li><a href="#">膳堂</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">粮仓</li>
                        <li class="dropdown-header">军火库</li>
                        <li><a href="#">密室</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>