<!DOCTYPE html>
<html lang="zh-cn" ng-app>
    <head>
        <title>天空之城</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/lib/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="/css/index.css" rel="stylesheet">
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="/lib/require/require.js" data-main="/js/main.js"></script>
    </head>
    <body>

        <div ng-include="'./includes/header.html'"></div>

        <div class="container theme-showcase" role="main">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            あの地平线 辉くのは <br /> どこかに君をかくしているから <br /> たくさんの灯が なつかしいのは <br />あのどれかひとつに 君がいるから <br /> さあでかけよう ひときれのパン <br /> ナイフ ランプ かぱんにつめこんで <br />父さんが残した 热い想い <br /> 母さんがくれた あのまなざし <br /> 地球はまわる 君をかくして <br /> 辉く瞳きらめく灯 <br /> 地球はまわる 君をのせて <br /> いつかきっと出会う ぼくらをのせて <br /> 父さんが残した热い想い <br /> 母さんがくれた あのまなざし <br /> 地球はまわる 君をかくして <br /> 辉く瞳 きらめく灯 <br />地球はまわる 君をのせて <br /> いつかきっと出会う ぼくらをのせて<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div ng-include="'./includes/footer.html'"></div>
    </body>
</html>
